.login-container {

  h2{
  padding: 1.5rem 0;
  }

  .user_remember_me {
    margin-top: 2rem;
  }

  #user_password {
    height: 50px;
    border-radius: 0.25em;
  }

  #user_email {
    height: 50px;
    border-radius: 0.25em;
  }


}
