.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  img{
    object-fit: cover;
    object-position: center;
  }
}

.card-trip > img {
  height: 100%;
  width: 800px;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  margin: 5px;
}

.card-trip .card-trip-infos {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 10px;

  .card-trip-pricing{
    text-align: end;
  }
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.image-contain {
  object-fit: contain;
  object-position: center;
}

.image-cover {
  object-fit: cover;
  object-position: right top;
}
