<div class="text-center padded">
  <h1>My upcoming Alibyes</h1>
</div>

  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to bookings_path(@bookings), class:"text-decoration-none" do %>
            <%= @alibye.title %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
