<div>
  <%= render partial: "/shared/banner" %>
</div>
<div class="container">
  <%= link_to "Blue button", "#", class: "btn btn-blue" %>
  <%= link_to "Orange button", "#", class: "btn btn-orange" %>
  <%= link_to "Yellow button", "#", class: "btn btn-transparent" %>
</div>
