<div class="container">
  <div class="banner" style="background-image: url(<%= image_path "dab.jpg" %>);">
      <h2>Alibye <span>is freedom</strong></h2>
  </div>
  <div class="content">

    <h3>Discover all our Alibyes</h3>
    <%= link_to "Create a new Alibye", new_alibye_path, class: "btn btn-blue", id: "btn-add" %>
    <%= render partial: "/shared/cards" %>
  </div>
</div>
