.btn-blue {
  color: $white;
  padding: 8px 24px;
  border-radius: 50px;
  background: $blue;
  transition: background 0.3s ease;

  &:hover {
    color: $white;
    background: $light-blue;
  }
}

.btn-orange {
  color: $white;
  padding: 8px 24px;
  border-radius: 50px;
  background: $orange;
  transition: background 0.3s ease;

  &:hover {
    color: $white;
    background: $yellow;
  }
}

.btn-transparent {
  color: $gray;
  background-color: transparent;
  border: 1px solid $gray;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;

  &:hover {
    background-color: transparent;
    border: 1px solid $gray;
    color: $gray;
    opacity: 1;
  }
}
