.btn-blue {
  color: $white;
  padding: 18px 24px;
  border-radius: 50px;
  background: $blue;
  transition: background 0.3s ease;

  &:hover {
    color: $white;
    background: $light-blue;
  }
}

.btn-light-blue {
  color: $white;
  padding: 18px 24px;
  border-radius: 50px;
  background: $light-blue;
  transition: background 0.3s ease;

  &:hover {
    color: $white;
    background: $blue;
  }
}

.btn-orange {
  color: $white;
  padding: 18px 24px;
  border-radius: 50px;
  background: $orange;
  transition: background 0.3s ease;

  &:hover {
    color: $white;
    background: $yellow;
  }
}

.btn-transparent {
  color: $gray;
  background-color: transparent;
  border: 1px solid $gray;
  padding: 18px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;

  &:hover {
    background-color: transparent;
    border: 1px solid $gray;
    color: $gray;
    opacity: 1;
  }
}

.btn-back {
  color: $gray;
  background-color: transparent;
  padding: 18px 40px;
  font-weight: lighter;
  font-size: 22px;

  &:hover {
    background-color: transparent;
    text-decoration: underline;
    opacity: 1;
  }
}

.btn-add {
  color: $blue;
  background-color: transparent;
  padding: 18px 24px;
  font-weight: lighter;
  font-size: 22px;

  span {
    padding-left: 13px;
    font-size: 24px;
  }

  .fa-solid {
    vertical-align: middle;
  }

  &:hover {
    color: $light-blue;
    background-color: transparent;
    text-decoration: underline;
    opacity: 1;
  }
}

.btn-edit-delete {
  i{
    font-size: 20px;
  }

  p{
    font-size: 20px;
    color: $gray;
  }

  :hover {
    text-decoration: underline;
    opacity: 1;
  }
}
