.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-solid {
  font-size: 40px;
  color: $blue;
}

#logo {
  size: 20px;
}

#logo-text {
  font-size: 30px;
}

.link {
  text-decoration: none;
}

.active {
  color: $blue !important;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}

.nav-link:hover {
  border-bottom: 2px solid;
  padding-bottom: 10px;
}
